

h1 {
    font-size: 2em; ;
}

a{
    color: white;
    text-decoration: none;
}
img {
    padding-right: 15px;
    margin-right: 15px;

}

body {
    background-image: url("./bg-27.png");
}

.icontainer {
    display: grid;
    grid-template-areas: 'header header' 'sidebar content';
    grid-gap: 0.5vw;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 50px 1fr;
    font-family:Tahoma, Geneva, Verdana, sans-serif;
}

.item {
    padding: 10px;
    border: 1px solid rgb(233, 228, 228);

}

.header {
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    grid-area: header;
    color:rgb(255, 254, 255);
    background-color: rgb(5, 62, 66);
}

.sidebar {
    grid-area: sidebar;
    align-self: start;
    background-color: rgb(5, 62, 66);

}

.contents{
    grid-area: content;

}

.menu-sidebar {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    list-style-type: none;
}

.menu-sidebar li {
    font-size: 18px;
    margin-bottom: 18%;
    padding: 5px 10px;
    color: white;

}


.heder_item {
    padding: 5px 10px;
    font-size: 20px;
    margin-left: 15px;
}
.heder_item:hover {
    background-color: rgba(10, 40, 15, 0.79);
    border-radius: 5px;
}

.headerlogo {
    margin-left: 30px;
    padding: 20px 35px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(238, 227, 210);
}

.contact {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.collapsible {
    background-color:  rgb(5, 62, 66);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 30%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}


.active, .collapsible:hover {
    background-color: rgb(11, 51, 54);
}


.pcontents {
    background-image: url("bg-27.png");
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}
.timeline {
    position: relative;
    max-width: 600px;
    margin: 30px 40px;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(11, 51, 54);;
    border: 4px solid rgb(7, 83, 88);;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.right::after {
    left: -16px;
}
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
        top: 44px;
    }
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .left::after, .right::after {
        left: 15px;
    }
    .right {
        left: 0%;
    }
    .sidebar {
        display: none;
    }
    .headerlogo {
        margin-left: 0px;
        padding: 0px;
    }
}

